
.btn, .dropbtn {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2;
    margin-right: 10px;
    background-color: #007BFF; /* Base color */
    background-image: linear-gradient(to bottom, #009BFF, #005BFF); /* Gradient effect */
    color: white; /* Text color */
    border: none; 
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition effect */
}

.btn:hover, .dropbtn:hover {
    transform: translateY(-2px); /* Small lift on hover */
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2); /* Increase shadow depth on hover */
}
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #555; /* Lighter color for hover state */
}



/* Dropdown styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
  }




body {
    background: linear-gradient(to bottom right, #f4f4f4, #e0e0e0); /* Diagonal gradient */
    font-family: Arial, sans-serif; /* Universal font */
}









h1, h2, h3 {
    font-family: 'Georgia', serif; /* A more stylish font for headings */
    margin-bottom: 20px;
}

p {
    font-size: 16px; /* Slightly larger text for readability */
    line-height: 1.5; /* Improved line spacing */
    color: #333; /* Dark gray for better contrast */
    margin-bottom: 15px; /* Space between paragraphs */
}






a {
    color: #007BFF; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

a:hover {
    color: #005BFF; /* Darker blue on hover */
}






















